<!-- Agrega tu CSS personalizado aquí -->
<style>
    /* Estilos para el fondo de los datos de contacto y presentación */
    .contacto-presentacion {
        background-color: #f8f8f8; /* Cambia el color de fondo según tus preferencias */
        padding: 20px;
    }
    .search-form {
         width: 100%; /* Esto hace que ocupe todo el ancho del contenedor */
         max-width: 400px; /* Esto limita el ancho máximo de la barra de búsqueda */
         text-align: center; /* Esto centra horizontalmente el contenido */
    }
</style>
